body {
  overflow: hidden;
}

.splashImage {
  background: url(./images/cover1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* position: absolute; */
}

.splashText {
  background-color: rgba(142, 197, 238, 0.36);
  padding: 30px;
  position: relative;
  top: 238px;
  left: 150px;
  color: white;
}

.subText {
  color: black;
}
