@import "~react-image-gallery/styles/css/image-gallery.css";

.splashImage {
  background: url(./images/cover1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* position: absolute; */
}

.splashText {
  background-color: rgba(142, 197, 238, 0.36);
  padding: 30px;
  position: relative;
  top: 238px;
  left: 150px;
  color: white;
}

.subText {
  color: black;
}

.devider {
  padding: 30px 0;
}

footer {
  padding: 30px;
  background-color: #1b1c1d;
  height: 80px;
}
